html, body {
	margin: 0px;
	padding: 0px;
}

div, h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: verdana;
}

.magicdashboard {
	height: 100%;
	padding: 0 0 0 0;
}

.wctcontainer {
	width: 250px;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

.wctcontainerborder {
	padding: 10px;
	float: left;
	margin: 10px;
}

.updatedwidget {
	box-shadow: 0px 0px 20px 0px #fff;
}
